<%= form_for(@space, :html => { :multipart => true }) do |f| %>
	<div class="col-md-10">
		<div class="panel panel-default">
	        <div class="panel-heading" style="overflow:auto;">
	    		<h3 class="panel-title" style="float:left;">Space Action</h3>
	    	</div>
			<div class="panel-body">
				<img class="user-avatar" src="">
				<div class="label-container">
					<% if @space.errors.any? %>
						<div id="error_explanation">
						  <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

						  <ul>
						  <% @space.errors.full_messages.each do |message| %>
						    <li><%= message %></li>
						  <% end %>
						  </ul>
						</div>
					<% end %>

					
					Title: <%= f.text_field :name, :class => "form-control" %><br />
					Type: <%= f.select :spacetype, options_for_select(["Open Concept", "Cubicles", "Team", "Combination"]), :class => 'form-control' %><br /><br />
					Street Number: <%= f.text_field :streetnum, :class => "form-control" %><br />
					Street: <%= f.text_field :street, :class => "form-control" %><br />
					City: <%= f.select :city, options_for_select(["Toronto", "New York", "San Francisco"]), :class => 'form-control' %><br /><br />
					State/Province: <%= f.select :state, options_for_select(["Ontario", "New York", "California"]), :class => 'form-control' %><br /><br />
					Postal code: <%= f.text_field :areacode, :class => "form-control" %> <br />
					Vacancies: <%= f.text_field :vacancies, :class => "form-control" %><br />

					Price: <%= f.text_field :price, :class => "form-control" %><br />
					Description: <%= f.text_area :description , :rows => "10", :class => "form-control" %><br />

			  		Tags (revelant vibe): <br/>
			  		<%= f.text_field :tag_list, :class => "form-control" %>
					<br>avatar: <%= f.file_field :avatar %><br />

					<%= f.submit :submit , :class => "form-control" %>
				</div>
			</div>
		</div>
	</div>
<% end %>
