<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @space.spacetype %>
</p>

<p>
  <strong>Streetnum:</strong>
  <%= @space.streetnum %>
</p>

<p>
  <strong>Street:</strong>
  <%= @space.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @space.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @space.state %>
</p>

<p>
  <strong>Areacode:</strong>
  <%= @space.areacode %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
