<main class="page">
    <div class="edit-wrapper">
        <%= form_for @user do |f| %>
            <div class="panel panel-default">
                <div class="panel-heading" style="overflow:auto;">
                    <h3 class="panel-title" style="float:left;">Edit Your Info</h3>
                </div>
                <div class="panel-body">
                    <div class="label-container">
                       
                        Name:  <%= f.text_field :name, autofocus: true, :class => "form-control", :pattern => '[a-zA-Z]{1,}', :placeholder =>'Letters only, no spaces', :title => 'Letters only|No Spaces|30 char max', :maxlength => '30' %><br />

                        Occupation: <%= f.text_field :occupation, autofocus: true, :class => "form-control", :pattern => '[a-zA-Z]{1,}', :placeholder =>'Letters only, no spaces', :title => 'Letters only|No Spaces|30 char max', :maxlength => '30' %><br />

                        Tags: <%= f.text_field :tag_list , :class => "form-control"%><br />

                        Email: <%= f.email_field :email, :class => "form-control", :type =>'email', :placeholder =>'Enter your email', :title => 'Enter a valid email'  %><br />

                        Password:(mandatory for account changes)<%= f.password_field :password, autocomplete: "on", :class => "form-control", :placeholder =>'Enter your password', :title => 'Password must be 8 to 64 characters long', :minlength => '8', :maxlength => '64', :pattern => '.{8,}' %><br />

                        Password Confirmation: <%= f.password_field :password_confirmation, autocomplete: "on", :class => "form-control", :placeholder =>'Enter your password', :title => 'Password must be 8 to 64 characters long', :minlength => '8', :maxlength => '64', :pattern => '.{8,}' %><br />

                        <%= f.submit :submit , :class => "form-control" %>


                    </div>
                </div>
            </div>
          </div>

          
        <% end %>
    

    </div>

</main>


