<main class="page">
    <div class="edit-wrapper">
      <h2 class="secondary-heading">Edit Your Info </h2>

      <form>
        
        <%= form_for @user, url: {action: "update"} do |f| %>

            <div class="form-group">
                <%= f.label :name  %>
                <div class="col-sm-12">
                    <%= f.text_field :name, autofocus: true, :class=>'inputbox', :pattern => '[a-zA-Z]{1,}', :placeholder =>'Letters only, no spaces', :title => 'Letters only|No Spaces|30 char max', :maxlength => '30' %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :occupation%>
                <div class="col-sm-12">
                    <%= f.text_field :occupation, autofocus: true, :class=>'inputbox', :pattern => '[a-zA-Z]{1,}', :placeholder =>'Letters only, no spaces', :title => 'Letters only|No Spaces|30 char max', :maxlength => '30' %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :email   %>
                <div class="col-sm-12">
                    <%= f.email_field :email, :class => 'inputbox', :type =>'email', :placeholder =>'Enter your email', :title => 'Enter a valid email'  %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password  %> <i>(leave blank if you don't want to change it)</i>
                <div class="col-sm-12">
                    <%= f.password_field :password, autocomplete: "off",:class => 'inputbox', :placeholder =>'Enter your password', :title => 'Password must be 8 to 64 characters long', :minlength => '8', :maxlength => '64', :pattern => '.{8,}' %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation  %>
                <div class="col-sm-12">
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'inputbox', :placeholder =>'Enter your password', :title => 'Password must be 8 to 64 characters long', :minlength => '8', :maxlength => '64', :pattern => '.{8,}' %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :current_password  %> <i>(we need your current password to confirm your changes)</i>
                <div class="col-sm-12">
                    <%= f.password_field :current_password, autocomplete: "off",:class => 'inputbox', :placeholder =>'Enter your password', :title => 'Password must be 8 to 64 characters long', :minlength => '8', :maxlength => '64', :pattern => '.{8,}' %>
                </div>
            </div>

            <%= f.submit :submit , :class => "form-control" %>



          </div>

          
        <% end %>


      </form>

      

      

    </div>

</main>


