<main class="page">

	<div class="profile-wrapper autoflow">
		<div class="col-md-6">
			<div class="panel panel-default">
		        <div class="panel-heading" style="overflow:auto;">
		    		<h3 class="panel-title" style="float:left;"><%= @user.name %></h3>
		    		<span style="float:right;"><%= rating_for @user, "reputation", :disable_after_rate => true, :cancel => false, :half_show => true %></span>
		    	</div>
				<div class="panel-body">
					<img class="user-avatar" src="<%= @user.avatar %>">
					<div class="label-container">
					    <span class="user-label">Email:</span> <%= @user.email %><br />
					    <span class="user-label">Title:</span> <%= @user.occupation %>
					</div>
				</div>
			</div>
		</div>


	      <div class="col-md-6">
	        <% if @owns.count != 0 %>
	  	      <div class="panel panel-default">
	  	        <div class="panel-heading">
	  	          <h3 class="panel-title">Owns:</h3>
	  	        </div>
	  	        <div class="panel-body">
	            	    <% @owns.each do |space| %>
	            	    	<a href="/spaces/<%= space.id %>">
	            	    		<p><%= space.name %></p>
	            	    	</a>
	            	    <% end %>        
	  	        </div>
	  	      </div>
	        <% end %>
	        
	        <% if @social.count != 0 %>
	          <div class="panel panel-default">
	            <div class="panel-heading">
	              <h3 class="panel-title">Social Circle</h3>
	            </div>
	            <div class="panel-body">
	              <% @social.each do |u| %>
	      	        	<a href="/users/<%= u.id %>">
	      	        		<p><%= u.name %></p>
	      	        	</a>
	      	        <% end %>   
	            </div>
	          </div>
	        <% end %>
	        
	      </div>

	</div>

</main>


<script>
	$(function(){
		$('#tags').tagsInput();
	})
</script>