<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lease.user %>
</p>

<p>
  <strong>Space:</strong>
  <%= @lease.space %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @lease.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @lease.enddate %>
</p>

<p>
  <strong>Message:</strong>
  <%= @lease.message %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @lease.accepted %>
</p>

<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
