<main class="page">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>User:</strong>
    <a href="/users/<%= @lease.user.id %>"><%= @lease.user.name %></a>
  </p>

  <p>
    <strong>Space:</strong>
    <a href="/spaces/<%= @lease.space.id %>">
      <%= @lease.space.name %>
    </a>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @lease.space.user.name %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= @lease.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= @lease.enddate %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= @lease.message %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= @lease.accepted %>
  </p>

  <%= link_to 'Edit', edit_lease_path(@lease) %> |
  <%= link_to 'Back', leases_path %>
</main>





