<main class="page">

  <div class="panel panel-default">
    <div class="panel-heading star-col">
      <p class="space-title top-margin">
        <a href="/spaces/<%= @lease.space.id %>">
          <%= @lease.space.name %>
        </a>
      </p>
    </div>
    <div class="col-md-12 panel panel-default">
      <div class="space-text-box col-md-6">
        <p>
          <strong>User:</strong>
          <a href="/users/<%= @lease.user.id %>"><%= @lease.user.name %></a>
        </p>
        <p>
          <strong>Owner:</strong>
          <%= @lease.space.user.name %>
        </p>

        <p>
          <strong>Startdate:</strong>
          <%= @lease.startdate %>
        </p>

        <p>
          <strong>Enddate:</strong>
          <%= @lease.enddate %>
        </p>

        <p>
          <strong>Accepted:</strong>
          <%= @lease.accepted %>
        </p>

        <%= link_to 'Edit', edit_lease_path(@lease), class:"btn btn-default" %>
        <%= link_to 'Back', leases_path, class:"btn btn-default" %>
      </div>
      <div class="space-text-box col-md-6">
        <p>
          <strong>Message:</strong>
          <%= @lease.message.gsub(/\n/, '<br/>').html_safe %>
        </p>
      </div>
    </div>
  </div>
</main>





