<% provide(:title, 'Sign up') %>

<h1 class="text-center">Sign up</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br /><i class="fa fa-key"></i><%= f.email_field :email, autofocus: true, :class => 'inputbox' %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br /><i class="fa fa-unlock-alt"></i>
    <%= f.password_field :password, autocomplete: "off",:class => 'inputbox' %></div>

  <div><%= f.label :password_confirmation %><br /><i class="fa fa-lock"></i>
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'inputbox' %></div>

  <div><%= f.submit "Sign up"%></div>

<% end %>
<%= render "devise/shared/links" %>
