<% provide(:title, 'Sign up') %>

<h1 class="text-center">Sign up</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, :class=>'form-control' %>

  <%= f.label :occupation %>
  <%= f.text_field :occupation, autofocus: true, :class=>'form-control' %>

  <div><%= f.label :email %><br /><i class="fa fa-key"></i><%= f.email_field :email, autofocus: true, :class => 'inputbox' %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br /><i class="fa fa-unlock-alt"></i>
    <%= f.password_field :password, autocomplete: "off",:class => 'inputbox' %></div>

  <div><%= f.label :password_confirmation %><br /><i class="fa fa-lock"></i>
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'inputbox' %></div>

  <div class="field">
    <%= f.label :interest_list, "Your interests (separated by commas)" %><br/>
    <%= f.text_field :tag_list %>
  </div>

  <div class="field">
    <%= f.label :skills_list, "Your skills (separated by commas)" %><br/>
    <%= f.text_field :skill_list %>
  </div>

  <div>
      Add Your <%= f.label :avatar %>:
      <%= f.file_field :avatar %>
  </div>

  <div><%= f.submit "Sign up"%></div>

<% end %>
<%= render "devise/shared/links" %>
